<header class="top-head container-fluid custom-header">
    <div class="container logoPadding">
            <div class="logo">
              <img src="images/logo.png"/>
            </div>
            <ul class="list-inline navbar-right top-menu top-right-menu color-white">
            <!-- user login dropdown start-->
            <li>
                <a>{{username}}</a>
            </li>
            <li>|</li>
            <li *ngIf="currentRole == 1 && show_credits == true">
              <a>Credits {{creditcount}}</a>
            </li>
            <li *ngIf="currentRole == 1 && show_credits == true">
              |
            </li>
            <li *ngIf="currentRole == 1">
              <a href="http://correctcare.co.uk/help" target="_blank"> Support </a>
            </li>
            <li *ngIf="currentRole == 1">
              |
            </li>
            <li>
                <a (click)="doLogout()">Logout</a>
            </li>
        </ul>
    </div>
</header>
