<section class="m-t-20 m-b-30">
    <div class="container">
        <h2 class="text-page m-b-0"><strong>Health & Safety</strong></h2>
        <h4 class="text-page m-b-30 m-t-0"><strong>8 Lessons</strong></h4>
        <ul class="list-unstyled h-list">
            <li>
                <a href="#" class="block-btn color-white" (click)="gotoVideoOrQust()">
                    <div class="row">
                        <div class="col-sm-5">
                            1 Fire Safety
                        </div>
                        <div class="col-sm-5 text-right">
                            <i class="ion-checkmark-round m-r-5"></i> Completed 21st March 2016
                        </div>
                        <div class="col-sm-2 text-right">
                            <i class="fa fa-film m-r-5"></i>10 Videos 
                        </div>
                    </div>
                </a>
                    
            </li>
            <li>
                <a href="#" class="block-btn color-white" (click)="gotoLessonVideo()" >
                    <div class="row">
                        <div class="col-sm-5">
                            2 Moving and Handling
                        </div>
                        <div class="col-sm-5 text-right">
                            <i class="ion-checkmark-round m-r-5"></i> Completed 21st March 2016
                        </div>
                        <div class="col-sm-2 text-right">
                            <i class="fa fa-film m-r-5"></i>10 Videos 
                        </div>
                    </div>
                </a>
                    
            </li>
            <li>
                <a href="#" class="block-btn color-white">
                    <div class="row">
                        <div class="col-sm-5">
                            3 Food Hygene
                        </div>
                        <div class="col-sm-5 text-right">
                            In progress
                        </div>
                        <div class="col-sm-2 text-right">
                            <i class="fa fa-film m-r-5"></i>10 Videos 
                        </div>
                    </div>
                </a>
                    
            </li>
            <li>
                <a href="#" class="block-btn color-white">
                    <div class="row">
                        <div class="col-sm-5">
                            4 Other Safety <i class="ion-locked m-l-10"></i>
                        </div>
                        <div class="col-sm-5 text-right">
                            
                        </div>
                        <div class="col-sm-2 text-right">
                            <i class="fa fa-film m-r-5"></i>10 Videos 
                        </div>
                    </div>
                </a>
                    
            </li>
            <li>
                <a href="#" class="block-btn color-white">
                    <div class="row">
                        <div class="col-sm-5">
                            5 Kitchen Safety <i class="ion-locked m-l-10"></i>
                        </div>
                        <div class="col-sm-5 text-right">
                        </div>
                        <div class="col-sm-2 text-right">
                            <i class="fa fa-film m-r-5"></i>10 Videos 
                        </div>
                    </div>
                </a>
                    
            </li>
        </ul>
    </div>
        
</section>