<section class="m-t-20 m-b-30">
    <div class="container">
        <h3 class="text-page m-b-30"><strong>Edit Administrator</strong></h3>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="text-page m-l-15 m-t-15"><strong>Administrator Name</strong></h3>
            </div>

            <div class="panel-body">
                <div class=" form">
                  <div class="alert alert-danger alert-dismissable" *ngIf="showNotSave">
                      
                      This email was already used. Can you use another email?
                  </div>
                  
                   <form class="cmxform form-horizontal tasi-form" [ngFormModel]="AdminForm" (submit)="update(AdminForm.value)">
                        <div class="container-fluid">
                          <div class="alert alert-danger alert-dismissable" *ngIf="!isValidPassword(password.value) && submitAttempt">
                              
                              The password must be at least 6 characters. Please type password again.
                          </div>                  
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group" >
                                        <div class="">
                                            <div class="col-lg-2">
                                                <div class="m-l-10 m-r-10">
                                                    <label for="fname" class="control-label text-left text-page" >First Name</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="m-l-10 m-r-10">
                                                <input class=" form-control" id="fname" name="name" type="text"   placeholder="Some text value..." ngControl="firstName">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="col-lg-2">
                                                <div class="m-l-10 m-r-10">
                                                    <label for="lname" class="control-label text-left text-page">Last Name</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="m-l-10 m-r-10">
                                                <input class=" form-control" id="lname" name="name" type="text"   placeholder="Some text value..." ngControl="lastName">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="m-l-10 m-r-10">
                                        <label for="email" class="control-label text-left text-page">Email</label>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="m-l-10 m-r-10">
                                        <input class=" form-control" id="email" name="name" type="email"   placeholder="Some text value..." ngControl="email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <div class="m-l-10 m-r-10">
                                        <label for="password" class="control-label text-left text-page">Password</label>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="m-l-10 m-r-10">
                                        <input class=" form-control" id="password" name="name" type="password"   placeholder="The password must be at least 6 characters"  ngControl="password">
                                    </div>
                                </div>
                            </div>
                            <div class="white-space m-t-30 m-b-30">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span class="sr-only">Empty Space</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-l-5 m-r-5">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <input type="button" (click)="cancel()" value="Cancel" class="btn btn-primary m-b-10 w-sm">
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <input type="submit" value="Update Account" class="btn btn-primary m-b-10 w-sm m-l-15">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</section>
