extends ../includes/layout

block main-content
	my-app Loading...

script(type="text/javascript").
	PDFJS.workerSrc = '/vendor/pdfjs-dist/build/pdf.worker.js'
	
link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans")
