<div>
    <div class="title-bar">
    </div>
    <div class="matrix-container">
        <div class="text-center">
            <h2>{{organization}} Training Matrix</h2>
        </div>
        <div class="table-responsive">
            <table id="gridbasic" #gridbasic class="table text-page">
                <thead>
                    <tr>
                        <th data-column-id="id" data-column-id="name">Name</th>
                        <th *ngFor="let head of courseList" attr.data-column-id="{{head.course_id}}">{{head.coursetitle}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of studentList">
                        <td>{{student.student_name}}</td>
                        <td *ngFor="let head of courseList">
                          {{getCompleteDatefromCourse(head, student.course)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <img src="/images/logo1.png" />
        </div>
    </div>
</div>
