 <section class="m-t-20 m-b-30">
    <div class="container containerHeight">
        <h2 class="text-page m-b-30"><strong>{{lessonname}}</strong></h2>
        <div class="panel panel-default text-page padd-min">
            <div class="panel-heading m-b-30">
                <h3 class="text-page m-l-15 m-t-15"><strong>Question</strong></h3>
            </div>

            <form class="text-page text-left m-l-15 m-r-15">
                <h4 class="m-b-30 m-t-30">
                    <strong>{{content.question}}</strong>
                </h4>
                <div class="form-group">
                    <textarea class="form-control"></textarea>
                </div>

            </form>
            <div class="white-space m-t-30 m-b-30">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="sr-only">Empty Space</span>
                    </div>
                </div>
            </div>
            <div class="white-space m-t-30 m-b-30">
                <div class="row">
                    <div class="col-xs-12">
                        <span class="sr-only">Empty Space</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="v-bottom">
      <div class="">
        <div class="col-md-2 col-sm-2 col-xs-2 continue"   (click)="gotoPrevious()">
          <a class="">
            <h5>Back</h5>
          </a>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 text-center back"   (click)="gotoNext()">
          <h4 class="text-page pull-right"></h4>
          <a class="">
            <h5>Continue</h5>
          </a>
        </div>
      </div>
    </div>
</section>
