<section class="m-t-20 m-b-30">
    <div class="container">
        <h3 class="text-page m-b-30"><strong>{{getCourseName()}}</strong></h3>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="text-page m-l-15 m-t-15 m-b-0"><strong></strong></h3>
            </div>

            <div class="panel-body">
                <div class=" form">
                    <form class="cmxform form-horizontal tasi-form" [ngFormModel]="courseForm" (submit)="SubmitCourse(courseForm.value)">
                      <div [class]="showClass" *ngIf="showMessage">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          {{showText}}
                      </div>
                        <div class="container-fluid">

                            <div class="form-group" [ngClass]="{ 'has-error' : validTitle(coursetitle.value) && submitAttempt }">
                                <div class="col-lg-2">
                                    <div class="m-l-10 m-r-10">
                                        <label for="ctitle" class="control-label text-left text-page">Course Title</label>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="m-l-10 m-r-10">
                                        <input class="text-page form-control" id="ctitle" name="ctitle" type="text" value="Fire Safety" ngControl="coursetitle" (focus)="inputFocus()">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error' : !coursedescription.valid && submitAttempt }">
                                <div class="col-lg-2">
                                    <div class="">
                                        <label for="cdescription" class="control-label text-left text-page">Course Description</label>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="m-l-10 m-r-10">
                                        <textarea class="page-color text-page form-control" id="cdescription" name="cdescription" type="text" ngControl="coursedescription" value="A course regarding fire safety in the work place."  (focus)="inputFocus()">A course regarding fire safety in the work place.</textarea>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group m-t-10">
                                <div class="col-sm-4 col-md-3 col-lg-2">
                                    <label class="text-left text-page">Course Status</label>
                                </div>
                                <div class="col-sm-4 col-md-3 col-lg-3">
                                    <label class="cr-styled text-page">
                                        <strong class="m-r-5">Live</strong>
                                        <input type="radio" name="multiChoice" value="1" class="r-question multipleChoice" (click)="choiceChange(true)" [checked] = "draftORLive" (blur)="blurChange(contentForm.value)">
                                        <i class="fa"></i>
                                    </label>
                                </div>
                                <div class="col-sm-4 col-md-3 col-lg-3">
                                    <label class="cr-styled text-page">
                                        <strong class="m-r-5">Draft</strong>
                                        <input type="radio"  name="multiChoice" value="0" (click)="choiceChange(false)" [checked] = "!draftORLive" class="r-question textResponce">
                                        <i class="fa"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr class="m-t-10 m-b-25">
                        <div class="m-l-5 m-r-5">
                            <div class="row">

                                <div class="col-xs-12 text-right">
                                    <a  class="btn btn-primary w-sm" (click)="addLesson(courseForm)">Add Lesson</a>
                                    <a  class="btn btn-primary w-sm" (click)="beforeRemoveLesson()" data-toggle="modal" data-target="#show_remove_lesson">Remove Lesson</a>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="table-responsive">
                                <table class="table text-page">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Lesson Name</th>
                                            <th></th>
                                        </tr>
                                    </thead>


                                    <tr *ngFor="let lesson of lessonData">
                                        <td>
                                            <label class="cr-styled">
                                                <input type="checkbox"  (change)="checkLesson($event, lesson)">
                                                <i class="fa"></i>
                                            </label>
                                        </td>
                                        <td>
                                            <strong>{{lesson.lessonname}}</strong>
                                        </td>
                                        <td class="text-right">
                                            <a  class="btn w-sm btn-md btn-primary" (click)="gotoEditLesson(lesson)" >Edit</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="white-space m-t-30 m-b-30">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span class="sr-only">Empty Space</span>
                                    </div>
                                </div>
                            </div>
                            <div class="m-l-5 m-r-5">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <a  class="btn btn-primary w-sm" (click)="showBack(courseForm.value)" data-toggle="modal" data-target="#show_back">Back</a>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <input type="button" (click)="beforeCancel(courseForm.value)" value="Cancel" class="btn btn-primary m-b-10 w-sm" data-toggle="modal" data-target="#show_not_save_course">
                                        <input type="submit" value="Save" class="btn btn-primary m-b-10 w-sm m-l-10">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>


<div *ngIf="show_back" id="show_back" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body assign-text">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p>Do you really go back page? You can lose some data which you input </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="cancel()">Yes</button>
            </div>
        </div>
    </div>
</div>


<div *ngIf="show_remove_lesson" id="show_remove_lesson" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Remove Lesson</h4>
            </div>
            <div class="modal-body assign-text">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p> {{stringRemoveLesson}} </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="removeLesson()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="show_not_save" id="show_not_save_course" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body assign-text">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p> Are you sure you want to leave this page? You have not saved this course. </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="cancel()">Yes</button>
            </div>
        </div>
    </div>
</div>