<section class="m-t-20 m-b-30">
    <div class="container">
        <h3 class="text-page m-b-30"><strong>{{getCourseName()}}</strong></h3>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="text-page m-l-15 m-t-15 m-b-0"><strong>{{getLessonName()}}</strong></h3>
            </div>
            
            <div class="panel-body">
                <div class=" form">
                    <form class="cmxform form-horizontal tasi-form" [ngFormModel]="lessonForm" (submit)="SubmitLesson(lessonForm.value)" novalidate="novalidate">
                        <div class="container-fluid">
                            
                            <div class="form-group" [ngClass]="{ 'has-error' : !lessonname.valid && submitAttempt }">
                                <div class="col-lg-2">
                                    <div class="m-l-10 m-r-10">
                                        <label for="lname" class="control-label text-left text-page">Lesson Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="m-l-10 m-r-10">
                                        <input class="text-page form-control lessonName" id="lname" name="name" type="text" ngControl="lessonname" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error' : !lessondescription.valid && submitAttempt }">
                                <div class="col-lg-2">
                                    <div class="m-l-10 m-r-10">
                                        <label for="cdescription" class="control-label text-left text-page">Lesson Description</label>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="m-l-10 m-r-10">
                                        <textarea class="page-color text-page form-control lessonDescriprion" id="cdescription" name="description" type="text" ngControl="lessondescription" ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>   
                        
                        <hr class="m-t-10 m-b-25">
                        <div class="m-l-5 m-r-5">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                  <a  class="btn btn-primary w-sm" (click)="beforeRemoveContent()" data-toggle="modal" data-target="#show_remove_content">Remove</a>
                                  <div class="btn-group">
                                      <button type="button" class="btn btn-primary w-sm m-r-5 dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Position <span class="caret"></span></button>
                                      <ul class="dropdown-menu" role="menu">
                                          <li *ngIf="!isValidPosition()"> <a disabled><em>No position</em></a> </li>
                                          <li *ngIf="isValidPosition()"  *ngFor="let pos of range(position)"><a class="" (click)="changePosition(pos)" data-toggle="modal" data-target="#show_warning">{{pos}}</a></li>                                          
                                      </ul>
                                  </div>
                                  <a  class="btn btn-primary w-sm" (click)="addSlide(lessonForm.value)">Add Slide</a>
                                  <a  class="btn btn-primary w-sm" (click)="addQuestion(lessonForm.value)">Add Question</a>
                                </div>
                            </div>
                        </div> 
                        <div class="table-responsive">
                            <table class="table text-page">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <!-- <tr *ngFor="let lesson of lessonData"> -->
                                  <tr *ngFor="let content of contents">
                                    <td>
                                      <label class="cr-styled">
                                        <input type="checkbox"  (change)="checkContent($event, content)">
                                        <i class="fa"></i>
                                      </label>
                                    </td>
                                    <td>
                                      {{content.label}}
                                    </td>                                    
                                    <td class="text-right">
                                      <a  class="btn w-sm btn-md btn-primary" (click)="gotoEditContent(content, lessonForm.value)" >Edit</a>
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr class="m-t-10 m-b-25">
                        <div class="container-fluid">
                            <div class="m-l-5 m-r-5">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <input type="button" name="submit-btn" value="Cancel" class="btn btn-primary m-b-10 w-sm" (click)="cancel()">
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <input type="button" (click)="addNextLesson(lessonForm)" value="Add Next Lesson" class="btn btn-primary m-b-10 w-sm">
                                        <input type="submit" name="submit-btn" value="Save" class="btn btn-primary m-b-10 w-sm m-l-10">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        
</section>

<div *ngIf="show_remove_content" id="show_remove_content" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Remove Content</h4>
            </div>
            <div class="modal-body assign-text">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p> Are you sure to remove this content? </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="removeContent()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="show_warning" id="show_warning" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body assign-text">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p> You cannot choose more than 2 contents. Please choose only 1 kindly to change order. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Ok</button>                
            </div>
        </div>
    </div>
</div>