<div class="wrapper-page animated fadeInDown">
    <div class="panel panel-color panel-primary">

        <form class="text-center" [ngFormModel]="ResetpwdForm" (submit)="Resetpwd(ResetpwdForm.value)">
            <div [class]="show_class">
                
                {{show_string}}
            </div>
            <div class="form-group m-b-0">
              <div  [ngClass]="{ 'has-error' : !matchedPassword(ResetpwdForm.value) && submitAttempt }">
                <div class="input-group" [ngClass]="{'has_error': length_6}">
                      <input type="password" class="form-control form_pwd" placeholder="Enter Password" ngControl="password">

                      <input type="password" class="form-control form_pwd" placeholder="Confirm Password" ngControl="verfiedPassword">
                  </div>
                </div>
            </div>

            <div class="form-group m-b-1">
              <button type="submit" class="btn btn-purple w-md">Reset</button>
            </div>
        </form>
    </div>
</div>
