<div style="height: 100%;width: 100%;overflow: hidden;">
    <div style="z-index: 10000;">
      <img src="images/cert.png" style="height:1000px; margin-left:auto; margin-right:auto; "/>
    </div>
    <div>
      <div class="title-bar">
      </div>
      <div class="container" id="pdffromHtml">
          <div class="text-center">
              <h1>{{organization}} Uncompleted Courses</h1>
          </div>
          <div class="table-responsive">
            <table class="table text-page">
              <thead>
                  <tr>
                      <th>Employee Name</th>
                      <th>Uncompleted Courses</th>
                  </tr>
              </thead>
              <tr *ngFor="let student of studentList">
                  <td><strong>{{student.student_name}}</strong></td>
                  <td><strong>{{getCourseName(student.course)}}</strong></td>
              </tr>
            </table>
          </div>

          <div class="text-center">
              <img src="/images/logo1.png" />
          </div>
      </div>
  </div>
</div>
<div id="editor">

</div>
