<div style="height: 100%;width: 100%;overflow: hidden;">
    <div style="z-index: 10000;">
      <img src="images/cert.png" style="height:1000px; margin-left:auto; margin-right:auto; "/>
    </div>
    <div>
      <div class="title-bar">
      </div>
      <div style="text-align: center;" id="pdffromHtml">
          <br/>
          <div width="100%" style="text-align: center;">
              <h2>{{organization}} Uncompleted Courses</h2>
          </div>
          <div style="text-align: center;" width="100%">
            <table width="90%" style="text-align: center; margin: 0 auto;">
              <thead>
                  <tr>
                      <th>Employee Name</th>
                      <th>Uncompleted Courses</th>
                  </tr>
              </thead>
              <tr *ngFor="let student of studentList">
                  <td><strong>{{student.student_name}}</strong></td>
                  <td><strong>{{getCourseName(student.course)}}</strong></td>
              </tr>
            </table>
          </div>
          <br/><br/>
          <div width="100%" style="text-align: center;">
              <img src="http://app.correctcare.co.uk/images/logo1.png" />
          </div>
      </div>
  </div>
</div>
<div id="editor">

</div>
