doctype
html
	head
		title Correct Care
		base(href="/")
		//- bower:css
		link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/vendor/metisMenu/dist/metisMenu.css')
		link(rel='stylesheet', href='/vendor/bootstrap-social/bootstrap-social.css')
		link(rel='stylesheet', href='/vendor/jquery.bootgrid/dist/jquery.bootgrid.css')
		link(rel='stylesheet', href='/vendor/please-wait/build/please-wait.css')
		//- endbower
		//- inject:css

		link(rel="stylesheet", href="/css/1-theme.css")

		link(rel="stylesheet", href="/css/animate.css")

		link(rel="stylesheet", href="/css/bootstrap-reset.css")

		link(rel="stylesheet", href="/css/helper.css")

		link(rel="stylesheet", href="/css/loading.css")

		link(rel="stylesheet", href="/css/style-responsive.css")

		link(rel="stylesheet", href="/css/style.css")

		link(rel="stylesheet", href="/css/morris/morris.css")

		link(rel="stylesheet", href="/css/font-awesome/css/font-awesome.css")

		link(rel="stylesheet", href="/css/font-awesome/css/font-awesome.min.css")

		link(rel="stylesheet", href="/css/ionicon/css/ionicons.css")

		link(rel="stylesheet", href="/css/ionicon/css/ionicons.min.css")

		//- endinject
		script(src="/es6-shim/es6-shim.min.js")
		script(src="/systemjs/dist/system-polyfills.js")
		script(src="/angular2/es6/dev/src/testing/shims_for_IE.js")
		script(src="angular2/bundles/angular2-polyfills.js")
		script(src="systemjs/dist/system.src.js")
		script(src="rxjs/bundles/Rx.js")
		script(src="angular2/bundles/angular2.dev.js")
		script(src="angular2/bundles/router.dev.js")
		script(src="angular2/bundles/http.dev.js")

		//- Auth0 Lock script
		script(src="//cdn.auth0.com/js/lock-9.0.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.20/pdfmake.js")

		//- Setting the right viewport
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	body
		div(id="wrapper")
			block main-content

		//- bower:js
		script(src='/vendor/jquery/dist/jquery.js')
		script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
		script(src='/vendor/metisMenu/dist/metisMenu.js')
		script(src='/vendor/jquery.bootgrid/dist/jquery.bootgrid.js')
		script(src='/vendor/pdfjs-dist/build/pdf.js')
		script(src='/vendor/pdfjs-dist/build/pdf.worker.js')
		script(src='/vendor/please-wait/build/please-wait.js')
		//- endbower
		//- inject:js
		script(src="/js/1-theme.js")
		script(src="/js/jquery.app.js")
		script(src="/js/jquery.nicescroll.js")
		script(src="/js/pace.js")
		//- endinject

		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans")
		link(rel="stylesheet", href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css")

		script(src="https://js.stripe.com/v2/")
		script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")

		script(type="text/javascript").
			PDFJS.workerSrc = '/vendor/pdfjs-dist/build/pdf.worker.js';
			Stripe.setPublishableKey('pk_test_We45bLO76vdmkYnW7Lr5KIpa');

			System.config( {
				  defaultJSExtensions: true,
								packages: {
									"app": {
										format: 'register',
										defaultExtension: 'js'
				},
									"/angular2-jwt": {
				  defaultExtension: 'js'
				},
									'jspdf': {
				  format: 'global'
				}
								},
				map: {
									"angular2-jwt"
				  : "angular2-jwt/angular2-jwt"
				}
							});

				System.import('app/main');

		script(type="text/javascript").
			$(document).ready(function () {
			
			var idleState = false;
			var idleTimer = null;
			$('*').bind('mousemove click mouseup mousedown keydown keypress keyup submit change mouseenter scroll resize dblclick', function () {
			clearTimeout(idleTimer);
			if (idleState == true) {
			console.log("user active!");
			}
			idleState = false;
			idleTimer = setTimeout(function () {
			var course = JSON.parse(localStorage.getItem('Course'));
			localStorage.clear();
			localStorage.setItem('Course', JSON.stringify(course));
			idleState = true;
			window.location.href = '/#/login';
			window.location.reload(true);
			}, 3600000);
			});
			$("body").trigger("mousemove");

			if (localStorage.chkbx && localStorage.chkbx != '') {
			$('#remember_me').attr('checked', 'checked');
			$('#username').val(localStorage.usrname);
			$('#pass').val(localStorage.pass);
			} else {
			$('#remember_me').removeAttr('checked');
			$('#username').val('');
			$('#pass').val('');
			}
			$('#remember_me').click(function() {

			});
			});
