<section class="m-t-20 m-b-30">
    <div class="container v-container">
        <div class="row vertical-align">
            <h2 class="text-page col-md-10">
                <strong></strong>
            </h2>
            <h4 class="text-page col-md-2">
                <span class="pull-right"></span>
            </h4>
        </div>
    </div>
    <div class="text-center">
        <div class="v-container container m-b-10" style="line-height: 1px;    text-align: center;padding: 0;">
            <!-- <iframe src="{{getEmbedUrl()}}" width="896" height="504" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen autoplay></iframe> -->
            <div class="view-content" [innerHTML]="htmlString"></div>
        </div>
    </div>
        
    <div class="v-bottom">
        <div class="">
            <div class="col-md-1 col-sm-1 col-xs-1 continue"  (click)="gotoPrevious()">
                <a class="" >
                    <h5>Back</h5>
                </a>
            </div>
            <div class="col-md-11 col-sm-11 col-xs-11 text-center back"  (click)="gotoNext()">
                <h4 class="text-page pull-right"></h4>
                <a class="" >
                    <h5>Continue</h5>
                </a>
            </div>
        </div>
    </div>
</section>