<section class="m-t-20 m-b-30">
    <div class="container">
        <h3 class="text-page m-b-30"><strong></strong></h3>
        <div class="panel">
          <div class="panel-heading">
              <h3 class="text-page m-l-15 m-t-15"><strong>Subscription</strong></h3>
          </div>

          <div class="panel-body">
            <div style="max-width: 90%;">
              If you are using Correct Care on a regular basis you can save money by subscribing.<br>
              A subscription to Correct Care includes full access to all courses.
              <br>
              <br>

              Simple affordable pricing <br>
              The monthly price is based on how many employees you have.
            </div>

            <div class="table-responsive">
                <table class="table text-page">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr>
                        <td>1 to 15 Employees</td>
                        <td>{{41.05 | currency:'GBP':true:'1.2-2'}}  + VAT per month</td>
                        <td class="text-right"><a class="btn btn-primary" (click)="gotoGoCardlessPage(15, 41.05)">Click to Subscribe</a></td>
                    </tr>
                    <tr>
                        <td>16 to 25 Employees</td>
                        <td>{{58.00 | currency:'GBP':true:'1.2-2'}} + VAT per month</td>
                        <td class="text-right"><a class="btn btn-primary"  (click)="gotoGoCardlessPage(25, 58.00)">Click to Subscribe</a></td>
                    </tr>
                    <tr>
                        <td>26 to 40 Employees</td>
                        <td>{{83.00 | currency:'GBP':true:'1.2-2'}} + VAT per month</td>
                        <td class="text-right"><a class="btn btn-primary"  (click)="gotoGoCardlessPage(40, 83.00)">Click to Subscribe</a></td>
                    </tr>
                    <tr>
                        <td>41 to 65 Employees</td>
                        <td>{{99.50 | currency:'GBP':true:'1.2-2'}} + VAT per month</td>
                        <td class="text-right"><a class="btn btn-primary"  (click)="gotoGoCardlessPage(65, 99.50)">Click to Subscribe</a></td>
                    </tr>
                    <tr>
                        <td>66 to 80 Employees</td>
                        <td>{{116.25 | currency:'GBP':true:'1.2-2'}} + VAT per month</td>
                        <td class="text-right"><a class="btn btn-primary"  (click)="gotoGoCardlessPage(80, 116.25)">Click to Subscribe</a></td>
                    </tr>
                </table>
            </div>

            <div class="m-l-5 m-r-5">
                <div class="row">
                    <div class="col-xs-4">
                        <input type="button" (click)="cancel()" value="Back" class="btn btn-primary m-b-10 w-sm">
                    </div>
                    <div class="col-xs-8 text-right">
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

</section>
