<div id="element" style="height: 100%;width: 100%;overflow: hidden; ">
    <div style="z-index: 10000; position: fixed;">
    <img src="images/cert.png" style="height:845px; margin-left:auto; margin-right:auto; "/>
    </div>
<div  id="pdffromHtml" style="width:100%; height:845px; float:none; margin-left:auto; margin-right:auto; z-index: -1; margin-top:1000px;font-family: sans-serif; position: relative;">
    <img src="http://app.correctcare.co.uk/images/certbg.png" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px;z-index: -10;">

    <div style="text-align:center; color:#2d5b33; font-size:45px; width:100%; font-weight:400; display:block; padding-top:100px; line-height:40px; padding-bottom:0px; margin-bottom:0px;"> <p style="margin-bottom:0px;">Certificate of Training </p> <span style="font-size:20px; padding-top:15px; color:#000; padding-bottom:0px; margin-bottom:0px;">in</span></div>
    <div style="text-align:center; color:#2d5b33; font-size:20px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:0px;"><strong>{{data.coursename}}</strong></div>
    <div style="border-bottom:solid 2px #1f3f23; color:#2d5b33; font-size:25px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px; max-width:180px; margin-left:auto; margin-right:auto; text-align:center; padding-bottom:0px; margin-bottom:0px;"><strong>{{data.studentname}}</strong></div>
    <div style="text-align:center; color:#2d5b33; font-size:20px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px;margin-bottom:15px;">archieved {{data.score}}% through Correct Care Training </div>

    <div style="text-align:center; color:#2d5b33; font-size:20px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px;margin-bottom:15px;">Completion Date: {{getCompleteDate(data.completed_at)}}</div>
    
    <div style="text-align:center; color:#2d5b33; font-size:14px; width:80%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin: 0 auto; margin-top:10px; margin-top:20px; margin-bottom:0px; "><p>The course syllabus includes, {{data.lessons}}.</p></div>
        
    <div style="text-align:center; color:#2d5b33; font-size:14px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px; margin-top:20px; margin-bottom:0px; ">{{data.organization}}</div>
    <div style="text-align:center; color:#2d5b33; font-size:14px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px; margin-top:20px; margin-bottom:0px; ">Correct Care</div>

    <div style="text-align:center; color:#2d5b33; font-size:14px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px; margin-top:20px; margin-bottom:0px; padding:0px;"></div>
</div>
</div>

<div id="editor" style=""></div>
