<div id="pdffromHtml" style="margin: 0px; padding: 0px; font-size: 12px; color: #000;">
<div style="width:842px; height:595px; background-image:url(images/back.jpg); background-position:center center; background-repeat:no-repeat; float:none; margin-left:auto; margin-right:auto; display:block;">
    <h1 style="text-align:center; color:#2d5b33; font-size:45px; width:100%; font-weight:400; display:block; padding-top:100px; line-height:40px; padding-bottom:0px; margin-bottom:0px;">Certificate of Completion <br> <span style="font-size:20px; padding-top:15px; color:#000; padding-bottom:0px; margin-bottom:0px;">in</span></h1>
    <h2 style="text-align:center; color:#2d5b33; font-size:20px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:0px;">Health and Safety</h2>
    <h3 style="border-bottom:solid 2px #1f3f23; color:#2d5b33; font-size:30px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:0px; max-width:500px; margin-left:auto; margin-right:auto; text-align:center; padding-bottom:0px; margin-bottom:0px;">John Smith</h3>
    <h4 style="text-align:center; color:#2d5b33; font-size:20px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px;">Archieved 95% through elearning portal on June 27th 2016</h4>

    <div style="height:150px">
        <p style="text-align:left; color:#2d5b33; font-size:14px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px; max-width:450px; margin-left:120px; margin-top:20px; margin-bottom:0px; padding:0px;">The Course syllabus include, lesson 1, lesson 2, lesson 3, lesson 4, lesson 5.</p>
        <p style="text-align:left; color:#2d5b33; font-size:14px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px; max-width:450px; margin-left:120px; margin-top:20px; margin-bottom:0px; padding:0px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the </p>
    </div>

    <div style="text-align:center; color:#2d5b33; font-size:14px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px; margin-top:20px; margin-bottom:0px; padding:0px;">Course delivered via elearning portal.</div>
</div>




</div>