<div id="element" style="height: 100%;width: 100%;overflow: hidden; ">
    <div style="z-index: 10000;">
    <img src="images/cert.png" style="height:845px; margin-left:auto; margin-right:auto; "/>
    </div>
<div  id="pdffromHtml" style="width:598px; height:845px; background-image:url(images/certbg.png); background-position:center center; background-repeat:no-repeat; float:none; margin-left:auto; margin-right:auto; z-index: -1; margin-top:1000px;">    

    <div style="text-align:center; color:#2d5b33; font-size:45px; width:100%; font-weight:400; display:block; padding-top:100px; line-height:40px; padding-bottom:0px; margin-bottom:0px;">Certificate of Training <br> <span style="font-size:20px; padding-top:15px; color:#000; padding-bottom:0px; margin-bottom:0px;">in</span></div>
    <div style="text-align:center; color:#2d5b33; font-size:20px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:0px;"><strong>{{data.coursename}}</strong></div>
    <div style="border-bottom:solid 2px #1f3f23; color:#2d5b33; font-size:25px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:0px; max-width:180px; margin-left:auto; margin-right:auto; text-align:center; padding-bottom:0px; margin-bottom:0px;"><strong>{{data.studentname}}</strong></div>
    <div style="text-align:center; color:#2d5b33; font-size:20px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px;margin-bottom:15px;">Archieved {{data.score}}% through Correct Care Training </div>

    <div style="text-align:center; color:#2d5b33; font-size:20px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px;margin-bottom:15px;">Completion Date: {{data.completed_at | slice:0:10}}</div>
    <div style="">
        <div style="text-align:center; color:#2d5b33; font-size:14px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px; margin-top:20px; margin-bottom:0px; padding:0px 10%;"><p>The Course syllabus include, {{data.lessons}}.</p></div>
        <div style="text-align:center; color:#2d5b33; font-size:14px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px; margin-top:20px; margin-bottom:0px; padding:0px 10%;">Correct Care</div>
    </div>

    <div style="text-align:center; color:#2d5b33; font-size:14px; width:100%; font-weight:100; display:block; padding-top:0px; line-height:normal; margin-top:10px; margin-top:20px; margin-bottom:0px; padding:0px;"></div>
</div>
</div>

<div id="editor" style=""></div>
